.login-area form .input-item label {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: var(--gray-400);
}

.login-area form .input-item input {
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    padding: 4px 16px;
    height: 48px;
    background: var(--gray-50);
    width: 100%;
    padding-left: 42px;
    outline: none;
    transition: .2s linear;
}

.login-area form .input-item input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: var(--gray-300);
}

.login-area form .input-item input:focus {
    border: 1px solid var(--yellow-400);
    background: var(--yellow-50);
}

.login-area form .input-item input:focus::placeholder {
    color: transparent;
}