.login-area form .input-item label {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: var(--gray-400);
}

.login-area form .input-item input {
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    padding: 4px 16px;
    height: 48px;
    background: var(--gray-50);
    width: 100%;
    padding-left: 42px;
    outline: none;
    transition: .2s linear;
}

.login-area form .input-item input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: var(--gray-300);
}

.login-area form .input-item input:focus {
    border: 1px solid var(--yellow-400);
    background: var(--yellow-50);
}

.login-area form .input-item input:focus::placeholder {
    color: transparent;
}

.pass__label {
    border-radius: 25px;
    height: 6px;
    background: var(--gray-100);
    position: relative;
    overflow: hidden;
    transition: 0.3s linear;
}

.pass__label::after {
    content: "";
    position: absolute;
    background: var(--yellow-400);
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 25px;
    transition: width 0.3s linear;
}

.pass__label.active::after {
    width: 100%;
}

.pass__label__character__full.strong .pass__label::after {
    background: var(--green-500);
}

.pass__label__character__full.strong .pass__label {
    background: var(--gray-100);
}

.pass__label::after {
    transition: width 0.3s linear, background 0.3s ease;
}

.pass__rules ul li.active {
    color: var(--gray-400);
}

.pass__rules ul li.active i {
    color: var(--green-500);
}