.sidebar-list li {
    margin-bottom: 10px;
}

.sidebar-list li a {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-300);
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    background: white;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    transition: .1s linear;
    padding-left: 15px;
    overflow: hidden;
}

.sidebar-list li a span {
    white-space: nowrap;
}

.sidebar-list li a:hover {
    background: var(--yellow-50);
}

.sidebar-list li a.active {
    color: var(--yellow-400);
    background: var(--yellow-50);
}

.sidebar-list li a.active img {
    filter: sepia(1) saturate(6) hue-rotate(10deg) brightness(1.1) contrast(1);
}

.sidebar-list li a.active::after {
    position: absolute;
    content: "";
    border-radius: 25px;
    width: 2.5px;
    height: 16px;
    background: var(--yellow-400);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s linear;
}


/* sidebar collapsed */


/* sidebar default */
.rs-sidebar-wrapper {
    width: 307px;
    transition: width 0.35s ease;
}

/* main content default */
.page__body-wrapper {
    width: calc(100% - 307px);
    transition: all 0.35s ease;
}

/* collapsed state */
body.sidebar-collapsed .rs-sidebar-wrapper {
    width: 90px;
}

body.sidebar-collapsed .page__body-wrapper {
    width: calc(100% - 80px);
}

.sidebar-area span {
    opacity: 1;
    transition: .1s linear;
    display: block;
}

/* collapsed state */
body.sidebar-collapsed .sidebar-area span {
    color: transparent;
}

/* center icons */
body.sidebar-collapsed .sidebar-list li a {
    gap: 0;
    width: 48px;
}

body.sidebar-collapsed .sidebar-list li a.active::after {
    height: 100%;
    right: auto;
    left: 0;
}

.side-bar-logo {
    position: relative;
    width: 100px;
    height: 40px;
}

/* both logos base state */
.side-bar-logo .big-logo,
.side-bar-logo .small-logo {
    position: absolute;
    top: 0;
    transition: all 0.35s ease;
}

/* default visible */
.side-bar-logo .big-logo {
    left: 0;
    opacity: 1;
}

.side-bar-logo .small-logo {
    left: 100px;
    opacity: 0;
}

body.sidebar-collapsed .side-bar-logo .big-logo {
    left: -100px;
    opacity: 0;
}

body.sidebar-collapsed .side-bar-logo .small-logo {
    left: 0;
    opacity: 1;
}

body.sidebar-collapsed .sidebar-author .author-left-content {
    display: none;
}

body.sidebar-collapsed .sidebar-author .icon {
    margin: auto;
}


/* //////////////// submenu /////////////////// */
.sidebar-list li a {
    position: relative;
}

.sidebar-list li {
    position: relative;
}


.sidebar-list .submenu li a:hover {
    background: var(--yellow-50);
}

.submenu li a {
    position: relative;
}

.sidebar-list .submenu li a {
    background: #F1F3F5;
    overflow: visible !important;
    white-space: nowrap;
}

.submenu li a::before {
    content: "";
    position: absolute;
    left: -16px;
    top: -45px;
    width: 16px;
    height: 70px;
    border-radius: 0px 0px 0px 10px;
    border-bottom: 2px solid #e8e8eb;
    border-left: 2px solid #e8e8eb;
    z-index: -1;
}

.submenu li a.active {
    background: var(--yellow-50);
}

.sidebar-list .submenu li a.active::after {
    display: none;
}

.submenu li a.active::before {
    border-bottom: 2px solid var(--yellow-500);
    border-left: 2px solid var(--yellow-500);
}

.submenu li a.active::before {
    border-bottom: 2px solid var(--yellow-500);
    border-left: 2px solid var(--yellow-500);
}

/* auto index */
.submenu li:nth-child(1) {
    --i: 1;
}

.submenu li:nth-child(2) {
    --i: 2;
}

.submenu li:nth-child(3) {
    --i: 3;
}

.submenu li:nth-child(4) {
    --i: 4;
}

.submenu li:nth-child(5) {
    --i: 5;
}

.submenu li:nth-child(6) {
    --i: 6;
}

.submenu li:nth-child(7) {
    --i: 7;
}

.submenu li:nth-child(8) {
    --i: 8;
}

.submenu li:nth-child(9) {
    --i: 9;
}

.submenu li:nth-child(10) {
    --i: 10;
}

.submenu li a::before {
    z-index: calc(-1 * var(--i));
}

.submenu li a::before {
    z-index: calc(-1 * var(--i));
}


.submenu {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
}

.submenu-inner {
    overflow: hidden;
}

/* open */
.submenu.open {
    grid-template-rows: 1fr;
}

.submenu li a.border_left_active::before {
    border-left: 2px solid var(--yellow-500);
    border-radius: 0px 0px 0px 6px;
}

.sidebar-collapsed .submenu {
    display: none;
}